Flask==3.1.2
Flask-Cors==6.0.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
pgvector==0.4.1

google-genai==1.38.0

pypdf==6.0.0
python-dotenv==1.1.1

pytest==8.4.2
pytest-cov==6.3.0